<p>
    {{ _("Dear ") }} {{ student_name }},
</p>
<br>
<p>
    {{ _("Congratulations! You've successfully earned your certification for {0}.").format(frappe.bold(course_title)) }}
</p>
<br>
<p>
    {{ _("With this certification, you can now showcase your updated skills and share your achievement with your colleagues and on LinkedIn. To access your certificate, please click on the link provided below. Make sure you are logged in to the portal.") }}
</p>
<br>
<a href="/certificate/{{certificate_name}}">{{ _("Certificate Link") }}</a>
<br>
<p>
    {{ _("Once again, congratulations on this significant accomplishment.")}}
</p>
<br>
<p>
    {{ _("Best Regards") }}
</p>